@charset "utf-8";
/* CSS Document */
html,body,ul,li,dl,dt,ol,h1,h2,h3,h4,h5,h6,img,p{margin:0;padding:0;}
body{font:12px "微软雅黑"}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,strong,b{
	font-weight:100;
	font-size:100%;	
}
a{text-decoration:none;color:black;font-size:12px;}
input{outline:none;}
img{border:0;}
.clear:after{content:'.';display:block;height:0;overflow:hidden;clear:both;visibility:hidden;}
